.event-banner {
    background: url('https://firebasestorage.googleapis.com/v0/b/kaisen2023.appspot.com/o/static-images%2F007d2522-8220-4d3d-b506-8fef870eb1df.jpg?alt=media&token=46a7d8e5-aa90-4461-bd2e-15df0204e7d5');
    height: 100vh;
    background-position: 0 75%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.event-banner::after {
    content: "";
    position: absolute;
    height: 55vh;
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, transparent, #000);
    background-size: 120% 100%;
    z-index: 7;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


.event-head {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ebe6d0;
    text-align: center;
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 5.5rem;
    z-index: 8;
}

.event-category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.category-btn {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #000;
    color: #ebe6d0;
    border: 1px solid #ebe6d0;
}

.category-btn-active {
    border: 1px solid #000000;
    background-color: #ebe6d0;
    color: #000;
}

.event-card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 150px);
    margin: auto;
    color: #ebe6d0;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10rem;
}

.event-card {
    width: 325px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.event-detail {
    position: absolute;
    min-height: 138px;
    margin-top: calc(400px - 148px - 28px);
    padding-top: 10px;
    padding-right: 25px;
    background-color: rgba(0, 6, 10, .7);
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.8rem;
    color: #ebe6d0;
    z-index: 2;
}

.event-detail h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.event-detail h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.event-card:hover {
    transform: scale(1.02);
    transition: all 0.1s ease-in;
}

.event-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ebe6d0;
    text-align: center;
    z-index: 8;
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.event-page-head i {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

.event-page-head h1 {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 6rem;
    margin: 0;
    padding: 0;
}

.event-page-event-container {
    max-width: calc(100% - 96px);
    margin-left: auto;
    margin-right: auto;
    background-color: #111317;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.event-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    width: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}

.event-img-container {
    width: 45%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.details-text {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    color: #ebe6d0;
    opacity: 0.6;
    padding-top: 2rem;
}

.rulebook-btn {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #ebe6d0;
    border: 1px solid #ebe6d0;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.register-btn {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #111317;
    background-color: #ebe6d0;
    border: 1px solid #111317;
}

.border-bottom {
    padding-bottom: 3rem;
    border-bottom: 2px solid #ebe6d0;
}

@media screen and (max-width: 1080px) {
    .event-head {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .event-banner {
        height: 50vh;
        background-position: 0 85%;
    }

    .event-banner::after {
        height: 50vh;
    }

    .event-details-container {
        width: 100%;
    }

    .event-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-img-container img {
        width: 50%;
        object-fit: cover;
    }

    .event-page-event-container {
        display: flex;
        flex-direction: column;
    }

    .category-btn {
        border-radius: 0.6rem;
        padding: 0.3rem 0.8rem;
        margin: 0.3rem;
        font-size: 1.1rem;
    }

    .event-category-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem 0.5rem;
        padding-bottom: 3rem;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 768px) {
    .event-head {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .event-page-head h1 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 4rem;
        margin: 0;
        padding: 0 2rem;
    }

    .event-banner {
        height: 45vh;
        background-position: 0 90%;
    }

    .event-banner::after {
        height: 45vh;
    }

    .event-card-container {
        width: calc(100% - 96px);
    }

    .event-details-container {
        width: 100%;
    }

    .event-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .event-page-event-container {
        display: flex;
        flex-direction: column;
    }

    .register-btn {
        border-radius: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .rulebook-btn {
        border-radius: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .event-head {
        font-size: 3.2rem;
        line-height: 3rem;
    }

    .event-page-head h1 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin: 0;
        padding: 0 0.5rem;
    }

    .event-banner {
        height: 42vh;
        background-position: 0 100%;
    }

    .event-banner::after {
        height: 42vh;
    }

    .event-card-container {
        width: calc(100% - 50px);
    }

    .event-details-container {
        width: 100%;
    }

    .event-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .event-page-event-container {
        display: flex;
        flex-direction: column;
        max-width: calc(100% - 3rem);
    }

    .register-btn {
        border-radius: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .rulebook-btn {
        border-radius: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}