.cart-banner {
    background: url('https://firebasestorage.googleapis.com/v0/b/kaisen2023.appspot.com/o/static-images%2F007d2522-8220-4d3d-b506-8fef870eb1df.jpg?alt=media&token=46a7d8e5-aa90-4461-bd2e-15df0204e7d5');
    height: 100vh;
    background-position: 0 75%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.cart-banner::after {
    content: "";
    position: absolute;
    height: 55vh;
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, transparent, #000);
    background-size: 120% 100%;
    z-index: 7;
}

.cart-head {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ebe6d0;
    text-align: center;
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 5.5rem;
    z-index: 8;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 10rem;
    width: 100%;
    color: #ebe6d0;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 80%;
    margin: auto;
    background-color: #111317;
    gap: 1rem;
}

.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.card-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.event-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.7rem;
    overflow: hidden;
}

.event-cart-event-name-cont {
    flex: 1;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}


@media screen and (max-width: 1080px) {
    .cart-head {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .cart-banner {
        height: 50vh;
        background-position: 0 85%;
    }

    .cart-banner::after {
        height: 50vh;
    }

    .cart-item-container {
        border-radius: 1.5rem;
        padding: 1.5rem;
        width: 85%;
    }
}


@media screen and (max-width: 786px) {
    .cart-head {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .cart-banner {
        height: 45vh;
        background-position: 0 90%;
    }

    .cart-banner::after {
        height: 45vh;
    }

    .cart-item-container {
        border-radius: 1.5rem;
        padding: 1.3rem;
        width: 90%;
    }

    .event-cart-event-name-cont {
        flex: 1;
        padding-left: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
    }
}


@media screen and (max-width: 480px) {
    .cart-head {
        font-size: 3.2rem;
        line-height: 3rem;
    }

    .cart-banner {
        height: 42vh;
        background-position: 0 100%;
    }

    .cart-banner::after {
        height: 42vh;
    }

    .cart-item-container {
        border-radius: 1.5rem;
        padding: 1.2rem;
        width: 95%;
    }

    .event-cart-event-name-cont {
        flex: 1;
        padding-left: 0.5rem;
        font-size: 1.3rem;
        font-weight: 600;
    }
}